<% include ./components/header %>

<div class="wrap">
  <div class="from-id">
    <ul class="from-item">
      <li>
        <label class="label">输入ID</label>
        <input type="text" value="" class="input-id" />
      </li>
    </ul>
  </div>
</div>

<% include ./components/footer %>