<% include ./components/header %>

<div class="wrap">
  <div class="log-header">
    <div class="fn-right">
      <a href="javascript:" class="button-mark">MARK</a>
    </div>
  </div>
  <ul class="log-list" id="J_logList">
    <li style="display: none;">
      <div class="mark-line">
        <span class="mark-date">[MARKED 15:27:22]</span>
      </div>
    </li>
  </ul>
</div>

<script id="log-list-tpl" type="text/template">
  <li>
    <span class="gray">
      <span class="date">[<@=date@>]</span>
      <span class="browser"><@=bowser@> <@=version@> (<@=platform@>)</span>
    </span>
    <span class="level">[LOG]</span>
    <span class="args"><@=body@></span>
  </li>
</script>

<% include ./components/footer %>

<script src="/static/js/log/socket.io-1.4.8.js"></script>
<script src="/static/js/log/underscore.js"></script>
<script src="/static/js/log/log.js"></script>
